<!DOCTYPE html>
<html lang="en" ng-app="imageGalleryApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Interactive Image Gallery</title>
  <style>
    .gallery {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .image {
      margin: 10px;
      cursor: pointer;
    }

    .image img {
      width: 200px;
      height: 200px;
    }

    .details {
      display: none;
      text-align: center;
    }

    .details img {
      max-width: 100%;
      height: auto;
    }
  </style>
</head>
<body>
  <div ng-controller="GalleryController as gallery">
    <div class="gallery">
      <div class="image" ng-repeat="image in gallery.images" ng-click="gallery.showDetails(image)">
        <img ng-src="{{image.src}}" alt="{{image.title}}">
      </div>
    </div>
    <div class="details" ng-show="gallery.selectedImage">
      <h2>{{gallery.selectedImage.title}}</h2>
      <img ng-src="{{gallery.selectedImage.src}}" alt="{{gallery.selectedImage.title}}">
      <p>{{gallery.selectedImage.description}}</p>
      <button ng-click="gallery.closeDetails()">Close</button>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script>
    angular.module('imageGalleryApp', [])
      .controller('GalleryController', function() {
        var vm = this;

        vm.images = [
          {
            src: 'https://hips.hearstapps.com/hmg-prod/images/mh-9-22-wick-650dcf0aeb656.jpg?crop=0.447xw:0.895xh;0,0&resize=640:*',
            title: 'Image 1',
            description: 'Description for Image 1'
          },
          {
            src: 'https://m.media-amazon.com/images/M/MV5BMTU2NjA1ODgzMF5BMl5BanBnXkFtZTgwMTM2MTI4MjE@._V1_.jpg',
            title: 'Image 2',
            description: 'Description for Image 2'
          },
          {
            src: 'https://media.wired.com/photos/641cb060a52b790517dbfeb6/2:3/w_1066,h_1599,c_limit/john-wick-changed-movies-forever-culture.jpg',
            title: 'Image 3',
            description: 'Description for Image 3'
          }
        ];

        vm.showDetails = function(image) {
          vm.selectedImage = image;
        };

        vm.closeDetails = function() {
          vm.selectedImage = null;
        };
      });
  </script>
</body>
</html>
